body {
    text-align: center;
}

#connect4 {
    background-color: #ECA3FF;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.column {
    width: 80px;
    display: table-cell;
}

.slot {
    margin: 10px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}

h1 {
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
}
#fin {
    text-align: center;
}
.button_bottom {
    background-color: #e4d1d1;
    color: gray;
    padding: 15px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    margin-left: 10px;
}

/* for the coin */

#coin {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute; /*position absolute just helps the coin move across the board freely*/
    background-color: transparent;
  }
